button[type = "button"]{
  background: #000;
  margin-top: 30px;
  margin-left:30px;
  font-size: 16px;
  color: white;
  border-radius: 7px;

}
body.grade {
    margin: 0;
    padding: 0;
    background: url("addGradeBackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
body.assessment {
    margin: 0;
    padding: 0;
    background: url("addAssessmentBackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
.gradeBox{
    width: 380px;
    height: 620px;
    background: #000;
    color: white;
    top: 50%;
    left: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 40px;
    border-radius: 10px;
}


h1{
    margin: 0px 0;
    padding: 0;
    text-align: center;
    font-size: 28px;
}
h2{
    margin: 0px 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
}
.gradeBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
}
.gradeBox input{
    width: 100%;
    margin-bottom: 30px;
}
.gradeBox input[type="reset"]{
  border: none;
  background: rgb(40, 40, 40);
  outline: none;
  height: 30px;
  color: white;
  font-size: 15px;
  border-radius: 20px;
}
.gradeBox input[type="submit"]{
    border: none;
    background: rgb(74, 94, 131);
    outline: none;
    height: 40px;
    color: white;
    font-size: 17px;
    border-radius: 10px;
  }
  .gradeBox input[type="number"]{
      border: none;
      border-bottom: 1px solid white;
      background: transparent;
      outline: none;
      height: 25px;
      color: white;
      font-size: 16px;
  }
  .gradeBox input[type="text"]{
      border: none;
      border-bottom: 1px solid white;
      background: transparent;
      outline: none;
      height: 25px;
      color: white;
      font-size: 16px;
  }
